strong{
  font-weight: bold;
  color: #281b4f;
}
#h1{
  text-align: left;
  font-size: 40px;
  font-weight: 350;
  color: #483285;
}
.imagen {
  width: 520px;
  height: 290px;
}
.bgcolor{
  background-color: #f5f1ff;
}
.navbar-color > a{
  color: #281b4fff;
}
.linea-punteada{
    width: 80%;
    height: 0.1;
    /* Define la altura del separador */
    border-top: 1px dashed #ccc;
    /* Establece la línea punteada con color gris */
    margin: 10px auto;
    /* Margen superior e inferior del separador */
}


@media (max-width: 576px) {
  #h1{
    text-align: center;
    color: #483285;
  }
  .imagen{
    width: 350px;
    height: 200px;
  }
}
