.login-Cter {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
  }
  
  .custom-col-dech {
    border: 1px solid black; 
    width: 1400px;
    height: 700px;
    border-radius: 40px 0px 0px 40px;
    
  }
  
  .custom-col-izq {
    border: 1px solid black; 
    width: 1400;
    height: 700px;
    border-radius: 0px 40px 40px 0px;
  }
  
  .titulos-div {
    margin-top: 50px;
  }
  
  .titulos {
    font-size: 3rem;
  }
  
  .inputs{
    border: none;
    border-bottom: 1px solid black; 
    padding-bottom: 5px;
    width: 600px; 
    margin-top: 30px;
  }

  .imputs-div {
    margin-top: 50px;
  }

  .remember-me{
    margin-top: 10px;
  }