.aside {
    background-color: #f5f1ff;
    width:15vw;
    margin: 0px;
    padding: 0px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.perfil {
    text-align: center;
    padding-top: 30px;
}
.botones{
  margin-top: 5rem;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.cerrarSesion{
  margin-top: 5rem;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.botones > button{
  margin-top: 10px;
  width: 100%;
}

.main{
  width: 100vw;
}